@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    --color-correcto:rgb(43, 255, 0);
    --color-incorrecto:rgb(255, 0, 0);
}
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}
.container{
    width: 800px;
    max-width: 80%;
    background: rgb(17, 17, 17);
    border-radius: 5px;
    padding: 12px;
}
.container-p-timer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timer{
    font-size: 1.5rem;
    margin: 8px;
    font-weight: bold;
}
.txt-pregunta{
    font-size: 1.5rem;
    margin: 8px;
    font-weight: bold;
}
.container-respuestas{
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 10px;
    margin: 16px 0;
}
.res{
    /*background-color: var(--color-incorrecto);*/
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    max-width: 380px;
    min-width: 300px;
    white-space: normal;
    word-wrap: break-word;
}
.btn{
    border: none;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.btn:hover,.res:hover{
    cursor: pointer;
}
.botones-categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.correcto{
    background-color: var(--color-correcto);
    color: black;
}
.incorrecto{
    background-color: var(--color-incorrecto);
    color: white;
}
@media (max-width: 425px) {
    .container-respuestas{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .botones-categorias{
        flex-direction:column;
    }
    .res{
        padding: 16px;
    }
}
@media (max-width: 320px){
    .container-respuestas{
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      .botones-categorias{
          flex-direction:column;
      }
      .res{
          padding: 8px;
          min-width: 200px;
          max-width: 300px;
      }   
}
.ocultar{
    display: none;
}